<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Best rappers in town</title>
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="stylesheet" href="font-awesome.min.css" />
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <script src="main.js" defer></script>
  <h1>Rapper Rankings</h1>
  <img src="/noname.jpg" alt="A picture of the rapper NoName facing ahead">
  <h2>This is an ode to Haiti, Mozambique, Martinique, Trinidad, Grenada
    Wherever Black people sleep, pray for them
    Pray for me, pray for me, pray for me</h2>
  <h3>Messages</h3>
  <ul class="messages">
    <% for (let i=0; i < rappers.length; i++){ %>
      <li class="rapper">
        <span>
          <%= rappers[i].name %>
        </span>
        <span>
          <%= rappers[i].birthDate %>
        </span>
        <span>
          <%= rappers[i].likes %>
        </span>
        <span><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
      </li>
      <% } %>
  </ul>
  <h2>Add a Rapper:</h2>
  <form action="/addRapper" method="post">
    <label for="name">Stage Name:</label>
    <input type="text" id="name" name="name" required>
    <br>
    <label for="birthDate">Birth Day:</label>
    <input type="date" id="birthDate" name="birthDate" required>
    <br>
    <button type="submit">Add Rapper</button>
  </form>

</body>

</html>