*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  background: linear-gradient(45deg,#feb47b, #ff7e5f, #ff7e5f, #feb47b);
  font-family: 'Roboto', sans-serif;
  height: 100vh;
}

h1, h2, h3{
  margin: 1rem;
  text-align: center;
}

img{
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

